* { margin: 0; padding: 0; }
body { width: 1002px; margin: 0 auto; font: 14px Verdana, Tahoma, Arial, sans-serif; font-weight: normal; }
h1, h2, h3 { width: 900px; background-image: url(/img/column_title_bg.gif); background-repeat: no-repeat; font-family: "Gill Sans", Trebuchet, "Times New Roman", sans-serif; font-weight: bold; letter-spacing: 1px; text-transform: uppercase; }
h1 { font-size: 27px; line-height: 30px; padding: 12px 0; }
h2 { font-size: 21px; line-height: 27px; padding: 12px 0; }
h3 { font-size: 18px; line-height: 21px; padding: 9px 0; }
p { line-height: 18px; padding-bottom: 9px; }
header, nav, footer, section { display: block; }
header .figure_img { border: 0; height: 88px; width: 80px; }
nav ul { list-style-type: none; }
nav li { display: inline; margin-right: 9px; }
nav a, nav a:visited { color: #FFF; text-decoration: none; }
nav a:hover { text-decoration: underline; }
hr { color: gray; margin: 9px 0; }