#header { height: 120px; background-color: yellow; }
#navigation { height: 30px; background-color: lightblue; }
#content { height: 600px; background-color: green; }
#footer { height: 120px; background-color: lightblue; }