#header { height: 187px; background-image: url(/img/header.jpg); }
#title { padding:60px 0 0 390px; font-size: 36px; font-weight: bold; color:#00C; }
#navigation { height: 32px; background-image: url(/img/nav_bg.jpg); background-repeat: repeat-x; color: white; padding: 3px 6px 0 0; text-align: right; }
#content { height: 600px; padding-left: 45px; }
#footer { height: 60px; background-image: url(/img/footer_bg.jpg); background-repeat: repeat-x; }
#copyright { padding:6px 0 0 390px; color:white; }